/* Slideshow */

.slideshow_images {
	margin: 10px 0 0 0 !important;
}

.slideshow_images li.image img {
	width: 100%;
	-webkit-border-radius: 1px; 
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
}

.slideshow_images li.image {
	border: #d5d5d5 1px solid;
	position: relative;
	float: left;
	width: 72px;
	height: 72px;
	margin: 0 7px 7px 0;
	cursor: move;
	-webkit-border-radius: 2px; 
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	overflow: hidden;
}

.slideshow_images li.image:hover {
	cursor: move;
}

.slideshow_images li.image .delete_slide {
	position: absolute;
	top: 5px;
	right: 5px;
	background: url(../../images/delete.png);
	color: #464646;
	width: 14px;
	height: 14px;
	text-indent: -9999px;
}

p.add_images_wrapper {
	margin: 0 0 15px 0 !important;
}

#qns_slideshow .inside {
	padding-right: 0 !important;
}

div.price_rule,
div.price_filter_price_rule {
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	margin: 15px;
}

#dynamic_price_rules,
.dynamic_price_filter_price_rules {
	min-height: 18px;
}

div.price_filter {
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	margin: 15px;
}